@use "base/reset";

body {
    font-family: Arial, Verdana, sans-serif;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.site-wrapper {
    overflow-x: hidden;
    padding: 1em;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.wrapper {
    max-width: var(--wrap-width, 50rem);
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem;
    padding-left: 1rem;

    &--xl {
        --wrap-width: 100%;
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--flex-gap, 1em);
}

.auto-grid {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(var(--auto-grid-min-size, 15rem), 1fr)
    );
    grid-gap: 1rem;
}

.flow {
    & > * + * {
        margin-top: var(--flow-space, 1em);
    }
}

.radio-image {
    [type="radio"] {
        @extend .visually-hidden;

        + img {
            cursor: pointer;
        }

        &:checked + img {
            outline: 2px solid #f00;
        }
    }
}

.container {
    display: flex;
    flex-wrap: wrap;

    &.board {
        outline: 1px solid black;
        flex-shrink: 0;
    }

    &.pieces {
        gap: 1em;
        justify-content: center;
    }
}

.placeholder {
    background-color: #f2f2f2;
    outline: 1px solid #333;
    transition: 0.5s;
    &.hover {
        background-color: orange;
    }
}

.message {
    color: black;
    text-align: center;
    display: none;
}

.ganaste {
    background-color: #b3d67c;

    .message {
        display: block;
    }

    .placeholder {
        outline: none;
    }

    .pieces {
        display: none;
    }
}

[data-screen="intro"] {
    display: none;
}

.intro {
    [data-screen="intro"] {
        display: block;
    }

    [data-screen="game"] {
        display: none;
    }
}
